body {
  font-family: 'Work Sans', Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: url(../images/robot.jpg) no-repeat center top;
}
h1 {
  font-size: 90px;
  line-height: 74px;
  text-transform: uppercase;
  letter-spacing: -4px;
  width: 380px;
  margin: 0;
  padding: 0;
}
h2 {
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
  width: 940px;
  margin: 90px auto;
  padding: 0 10px;
}
h3 {
  font-weight: 600;
  font-size: 18px;
  margin: 0;
}
p {
  font-size: 14px;
  margin: 0;
  padding: 0;
}
header h3 {
  font-size: 30px;
  font-weight: 300;
  text-transform: uppercase;
  padding: 218px 0 36px 0;
}
section p {
  font-family: 'Playfair Display', Georgia, serif;
  font-style: italic;
  font-size: 34px;
  line-height: 49px;
  width: 620px;
  margin: 60px auto;
}
section abbr {
  font-family: 'Playfair Display SC', serif;
  font-style: normal;
}
ul {
  list-style-type: none;
  padding: 0 10px 120px;
  margin: 0 auto;
  width: 960px;
  height: auto;
  overflow: hidden;
}
li {
  width: 298px;
  height: 500px;
  background-color: #fff;
  border: 1px solid #d3ded9;
  float: left;
  margin: 10px;
  overflow: hidden;
}
li img {
  width: 300px;
  height: 250px;
}
li h3 {
  padding: 60px 70px 26px 70px;
}
li p {
  margin: 0 70px 20px 70px;
}
li p a {
  text-decoration: none;
  color: #f33;
}
address {
  font-size: 16px;
  line-height: 30px;
  font-style: normal;
  color: #fff;
}
address h3 {
  font-size: 16px;
  color: #000;
  margin-bottom: 30px;
}
.de-emphasize {
  font-weight: 300;
  color: #fff;
}

/* Structure */
.container-fluid {
  width: 100%;
  height: auto;
}
.hero {
  background: transparent url(../images/tile.gif) repeat;
}
.secondary {
  background-color: #f33;
  padding: 60px 10px;
}
header {
  height: 600px;
  width: 960px;
  margin: 0 auto;
}
section {
  width: 960px;
  margin: 0 auto;
}
.short-divider {
  width: 60px;
  border-top: 2px solid #000;
  margin: 60px 0 60px 170px;
}
